@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Manjari:wght@100;400&display=swap');

body{
    font-family: 'Manjari', sans-serif;
    font-weight: 100;
    background-color:#fff5f8;
    padding: 10px;
}

.nav-bar{
    height: 30px;
    width: 99%;

    padding: 20px;
    background-color: #ffffff;
    display: inline-flex;
    flex-direction: row-reverse;

}

button{
    background-color: #FF76A7;
    color: white;
    border-color: #FF76A7;
    border-radius: 10px;
    border-style: none;
    text-decoration: none;
    padding: 5px;
}

button:hover{
    background-color: grey;
    border-color: rgb(66, 66, 66);
    
}
a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #ffffff;
}

aside{
    padding: 18px;
    width: 30%;
    height: 800px;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.zybra-profile img{
    height:110px;
    width: 110px;
    border-radius: 60px;
    
}

h1{
    font-size:50px;
    font-family: 'belleza', sans-serif;
}

h2{
    font-family: 'Manjari', sans-serif;
    font-weight: 100;
    margin-top: 0px;
    font-size: 20px;
}

.by{
    margin-top: 0px;
}

.h1-zybra{
    margin-bottom: 0;
}
.atajo-categorias button{
    background-color: #FF76A7;
    margin: 3px;
    border-color: #fff5f8;
    border-radius: 10px;
}

.atajo-categorias button:hover{
    background-color: grey;
}

.principal-posts{
    width: 100px;
    height: 100px;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
